body
{
	background-color: black;
	font-family: 'Raleway', sans-serif;
	color: white;
}

#header
{
	border-style: solid;
	border-radius: 1em;
	border-width: 1px;
	border-color: white;
	padding-left: 32px;
	font-size: 20px;
}

#navBar
{

}

#sorting li
{
	font-size: 20px;
	display: inline-block;
	padding-right: 25px;
}

#sorting a
{
	text-decoration: none;
	transition: .3s color;
}

#sorting a:link, a:visited
{
	color: #8C8C8C;
}

#sorting a:hover
{
	color: white;
}
