body
{
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    background-image: url("../Images/cartographer.png");
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

#Header
{
    background-color: #24251f;
    font-size: 36px;
    width: 100%;
    padding: 12px 0px;
}

#Footer
{
    text-align: center;
    font-size: 24px;
}

#Footer a
{
    position: absolute;
    bottom: 0;
    padding: 30px 0px;
}

#nameAndLogout
{
    float: right;
    font-size: 28px;
    padding-top: 5px;
}

#threads
{
    list-style-type: none;
    padding-left: 0px;
}

#threads li
{
    border-style: solid;
    border-radius: 1em;
    border-width: 1px;
    border-color: white;
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#threads a
{
    text-decoration: none;
    transition: .3s color;
}

#threads a:link, #threads a:visited
{
    color: #8C8C8C;
}

#threads a:hover
{
    color: white;
}

#navAccount
{
    margin: 0px 20px;
}

#navAccount li
{
    display: inline-block;
    padding: 0px 0px 0px 14px;
}

#navAccount a, #Footer a
{
    text-decoration: none;
    transition: .3s color;
}

#nameAndLogout li, #nameAndLogout a:link, #nameAndLogout a:visited, #Footer a:link, #Footer a:visited
{
    color: white;
}

#navAccount a:hover, #Footer a:hover
{
    text-shadow: 4px 4px 8px blue;
}

#sorting li
{
    font-size: 20px;
    display: inline-block;
    padding-right: 25px;
}

#sorting a
{
    text-decoration: none;
    transition: .3s color;
}

#sorting a:link, #sorting a:visited
{
    color: #8C8C8C;
}

#sorting a:hover
{
    color: white;
}

#loginArea
{
    text-align: center;
}

#username, #password, #login_button, #password_button
{
    padding: 5px 0px;
}

#username
{
    margin-top: 20px;
}

#input_username, #input_password
{
    height: 30px;
    width: 250px;
    font-size: 24px;
}

#submit_login, #submit_register
{
    width: 400px;
    font-size: 24px;
}

#submit_login:hover, #submit_register:hover
{
    box-shadow: 0px 0px 10px Blue;
}

/* Green for valid */
input.valid_input
{
    background:hsl(120, 50%, 90%);
    border-color:hsl(120, 50%, 50%);
}

/* Green for invalid */
input.invalid_input
{
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}

/* White for empty */
input.empty
{
    border-color:hsl(145, 100%, 0%, 1);
    background:hsl(360, 100%, 100%, 1);
}